// font
$elapsed_font: 'VT323', monospace;

// colors
$bg_color: #444;
$timer_bg_color: #CCC;
$button_font_color: #444;
$elapsed_font_color: rgb(2, 250, 196);
$elapsed_bg_color: #111;

// img urls
$brushed_alum: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
$brushed_alum_dark: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
$white_alum: url("https://www.transparenttextures.com/patterns/white-brushed.png");